@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');

*{
    padding: 0;
    margin: 0;
    background-color: whitesmoke;
    font-family: 'Montserrat', sans-serif;
}

@media screen and (max-width: 720px){
    .items{
        flex-wrap: wrap;
    }

    .research_result{
        flex-wrap: wrap;
    }
}

a{
    text-decoration: none;
    color:rgb(61, 58, 58);
}

a:hover{
    color: rgb(221, 206, 206);
}

.header{
    width: 100%;
    text-align: center;
    border-bottom: solid 1px rgba(124, 124, 124, 0.356);
}

.header h1{
    color:rgb(61, 58, 58);
    letter-spacing: 2px;
}

.research, .result{
    margin: 80px;
}

.research_result{
    display: flex;
}

.app{
    margin: 5px 80px;
}

.items{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
}

.app .items .cart{
    padding: 10px;
    flex-basis: auto;
    width: 50%;
    height: 100%;
    text-align: center;
    background: rgb(52, 54, 52);
    border-radius: 5px;
    margin-bottom: 20px;
}

.app .items .cart h1{
    margin: 10px;
}

.app .cart_products .product img{
    width: 40%;
    border-radius: 50%;
}

.app .cart_products .product .name_price{
    display: flex;
    justify-content: space-between;
}

.app .cart_products .product button{
    border: solid 1px red;
    color: red;
    border-radius: 5px;
}

.app .cart_products .product{
    margin: 20px;
}

.app .items .products{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 70%;
}

.app .items .products .product{
    margin-bottom: 10px;
    background: rgb(231, 238, 231);
    border-radius: 20px 20px 0 0;
    height: auto;
    max-height: 280px;
}

.app .items .products .product img{
    width: 200px;
    height: 180px;
    border-radius: 20px;
}

.app .items .products .product img:hover{
    transform: scale(1.1);
}

.app .items .products .product .name_price{
    display: flex;
    justify-content: space-between;
}

.app .items .products .product button{
    border: none;
    color: #4CAF50;
    cursor: pointer;
}
